In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('../datasets/CytoScan.Segmental.Reports/OS001_events.txt', sep='\t', comment='#')

data

,Chromosome Region,Event,Length,Cytoband,% of CNV Overlap,Probe Median,% Heterozygous,Probes,Min Size,% Normal,Count of Gene Symbols,Gene Symbols,Count of CancerGeneCensus-Sanger.txt,CancerGeneCensus-Sanger.txt,Count of segmental_dups.bed,<..>segmental_dups.bed
0,"chr1:3,699,709-5,660,972",CN Gain,1961264,p36.32 - p36.31,7.870388,0.163818,32.614943,1516,1959437,NaN,16,"LRRC47, CEP104, DFFB, C1orf174, LINC01134, LOC...",0,NaN,1,chr1:98822465
1,"chr1:6,923,109-8,821,596",CN Gain,1898488,p36.31 - p36.23,6.709290,0.153520,27.682403,1897,1893000,NaN,16,"CAMTA1, LOC102725193, VAMP3, PER3, UTS2, TNFRS...",1,CAMTA1,7,chr15:22578624...chr15:22563505
2,"chr1:12,392,108-13,847,374",LOH,1455267,p36.22 - p36.21,88.488359,0.186438,7.317073,123,1441913,NaN,46,"VPS13D, SNORA59A, SNORA59B, MIR6730, DHRS3, AA...",0,NaN,146,chr1:13438229...chr1:13552943
3,"chr1:12,392,108-15,615,315",CN Gain,3223208,p36.22 - p36.21,44.947470,0.222710,21.503958,2326,3223098,NaN,55,"VPS13D, SNORA59A, SNORA59B, MIR6730, DHRS3, AA...",0,NaN,147,chr1:13438229...chr21:40668379
4,"chr1:13,954,989-14,469,443",LOH,514455,p36.21,15.580013,0.117737,4.145078,193,513750,NaN,2,"PRDM2, AK124197",0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,"chrY:25,789,995-25,826,110",CN Gain,36116,q11.223,100.000000,0.374571,NaN,52,36004,NaN,0,NaN,0,NaN,3,chrY:24639456...chrY:27691695
766,"chrY:26,147,446-26,333,123",CN Gain,185678,q11.223 - q11.23,100.000000,0.238228,NaN,218,184558,NaN,6,"CDY1, CDY1B, DQ577902, DQ574758, DQ582680, CSP...",0,NaN,50,chrY:27691695...chrY:27009501
767,"chrY:27,012,136-27,404,175",CN Gain,392040,q11.23,99.972197,0.341493,NaN,78,387476,NaN,2,"DAZ4, DAZ2",0,NaN,7,chrY:27020115...chrY:26274678
768,"chrY:27,759,379-28,401,631",CN Gain,642253,q11.23,84.051276,0.203955,NaN,529,639551,NaN,1,PRY,0,NaN,17,chrY:20082929...chr1:202414822
769,"chrY:28,401,631-28,758,193",Allelic Imbalance,356563,q11.23,10.888429,0.048161,22.222222,9,298688,NaN,1,U6,0,NaN,65,chrY:25505142...chr13:24992974

In [4]:
data = data.loc[:, 'Chromosome Region':'Length']
    
data['Start'] = pd.Series('', index=data.index)
data['End'] = pd.Series('', index=data.index)

data

              Chromosome Region              Event   Length Start End
0      chr1:3,699,709-5,660,972            CN Gain  1961264
1      chr1:6,923,109-8,821,596            CN Gain  1898488
2    chr1:12,392,108-13,847,374                LOH  1455267
3    chr1:12,392,108-15,615,315            CN Gain  3223208
4    chr1:13,954,989-14,469,443                LOH   514455
..                          ...                ...      ...   ...  ..
765  chrY:25,789,995-25,826,110            CN Gain    36116
766  chrY:26,147,446-26,333,123            CN Gain   185678
767  chrY:27,012,136-27,404,175            CN Gain   392040
768  chrY:27,759,379-28,401,631            CN Gain   642253
769  chrY:28,401,631-28,758,193  Allelic Imbalance   356563

[770 rows x 5 columns]

In [6]:
def process_chromosome_reg_col(text):
    chromosome, rest = text.split(':')
    
    start, end = rest.split('-')
    return pd.Series([chromosome, start, end])

In [7]:
data[['Chromosome Region', 'Start', 'End']] = data['Chromosome Region'].apply(process_chromosome_reg_col)

data

    Chromosome Region              Event   Length       Start         End
0                chr1            CN Gain  1961264   3,699,709   5,660,972
1                chr1            CN Gain  1898488   6,923,109   8,821,596
2                chr1                LOH  1455267  12,392,108  13,847,374
3                chr1            CN Gain  3223208  12,392,108  15,615,315
4                chr1                LOH   514455  13,954,989  14,469,443
..                ...                ...      ...         ...         ...
765              chrY            CN Gain    36116  25,789,995  25,826,110
766              chrY            CN Gain   185678  26,147,446  26,333,123
767              chrY            CN Gain   392040  27,012,136  27,404,175
768              chrY            CN Gain   642253  27,759,379  28,401,631
769              chrY  Allelic Imbalance   356563  28,401,631  28,758,193

[770 rows x 5 columns]

In [9]:
data['Chromosome Region'] = data['Chromosome Region'].apply(lambda x: x.strip('chr'))
data['Start'] = data['Start'].apply(lambda x: x.replace(',', ''))
data['End'] = data['End'].apply(lambda x: x.replace(',', ''))

data

    Chromosome Region              Event   Length     Start       End
0                   1            CN Gain  1961264   3699709   5660972
1                   1            CN Gain  1898488   6923109   8821596
2                   1                LOH  1455267  12392108  13847374
3                   1            CN Gain  3223208  12392108  15615315
4                   1                LOH   514455  13954989  14469443
..                ...                ...      ...       ...       ...
765                 Y            CN Gain    36116  25789995  25826110
766                 Y            CN Gain   185678  26147446  26333123
767                 Y            CN Gain   392040  27012136  27404175
768                 Y            CN Gain   642253  27759379  28401631
769                 Y  Allelic Imbalance   356563  28401631  28758193

[770 rows x 5 columns]

In [10]:
category_to_number = {'Event' : {'Big Loss' : 0,
                                'CN Loss' : 1,
                                'CN Gain' : 3,
                                'High Copy Gain' : 4}
                     }
data.replace(category_to_number, inplace=True)

data

    Chromosome Region              Event   Length     Start       End
0                   1                  3  1961264   3699709   5660972
1                   1                  3  1898488   6923109   8821596
2                   1                LOH  1455267  12392108  13847374
3                   1                  3  3223208  12392108  15615315
4                   1                LOH   514455  13954989  14469443
..                ...                ...      ...       ...       ...
765                 Y                  3    36116  25789995  25826110
766                 Y                  3   185678  26147446  26333123
767                 Y                  3   392040  27012136  27404175
768                 Y                  3   642253  27759379  28401631
769                 Y  Allelic Imbalance   356563  28401631  28758193

[770 rows x 5 columns]

In [13]:
data = data[(data['Event'] != 'LOH') & (data['Event'] != 'Allelic Imbalance') & (data['Event'] != 'Homozygous Copy Loss')]

data

    Chromosome Region Event    Length     Start       End
0                   1     3   1961264   3699709   5660972
1                   1     3   1898488   6923109   8821596
3                   1     3   3223208  12392108  15615315
15                  1     3   1522222  60470133  61992354
22                  1     3  13965171  69521787  83486957
..                ...   ...       ...       ...       ...
764                 Y     3     90619  25623467  25714085
765                 Y     3     36116  25789995  25826110
766                 Y     3    185678  26147446  26333123
767                 Y     3    392040  27012136  27404175
768                 Y     3    642253  27759379  28401631

[187 rows x 5 columns]

In [14]:
data.rename(columns = {'Chromosome Region':'Chromosome'}, inplace = True)
data.rename(columns = {'Event':'Copy Number'}, inplace = True)
    
data

d:\skola\bakalarka\bp-env\lib\site-packages\pandas\core\frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

    Chromosome Copy Number    Length     Start       End
0            1           3   1961264   3699709   5660972
1            1           3   1898488   6923109   8821596
3            1           3   3223208  12392108  15615315
15           1           3   1522222  60470133  61992354
22           1           3  13965171  69521787  83486957
..         ...         ...       ...       ...       ...
764          Y           3     90619  25623467  25714085
765          Y           3     36116  25789995  25826110
766          Y           3    185678  26147446  26333123
767          Y           3    392040  27012136  27404175
768          Y           3    642253  27759379  28401631

[187 rows x 5 columns]